<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户密码</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>用户名：</label>
        <input type="text" name="username">
        <label>新密码：</label>
        <input type="password" name="password">
        <label>确认密码：</label>
        <input type="password" name="repassword">
        <button type="submit" >确认</button>
        <a type="button" href="{% url 'show_login' %}" >返回登录</a>
    </form>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script type="text/javascript">

    $("button[type='submit']").on("click",function () {
        event.preventDefault()
        datas = $("form").serialize();
        $.ajax({
            url:"{% url 'update_password' %}",
            type:"post",
            data:datas,
            success:function (res) {
                res = JSON.parse(res);
                if(res.code == 200){
                    window.location.href="{% url 'show_login' %}"
                }else {
                    alert('error');
                }
            }
        })
    })

</script>